{% extends 'blog/base.html' %}

{% block content %}

    <p class="lead">신청서 내용 등록 및 수정 </p>
    <form method="POST" class="post-form">{% csrf_token %}
    	<div class="form-group">
		    <label for="title">제목:</label>
		    {{form.title}}
		</div>
		<div class="form-group">
		    <label for="name">이름:</label>
		    {{form.name}}
		</div>
		<div class="form-group">
		    <label for="gender">성별:</label>
		    {{form.gender}}
		</div>
		<div class="form-group">
		    <label for="phone_no">핸드폰번호:</label>
		    {{form.phone_no}}
		</div>
		<div class="form-group">
		    <label for="text">내용:</label>
		    {{form.text}}
		</div>
		<div class="form-group">
		    <label for="published_date">신청일자:</label>
		    <div class='input-group date' id='datetimepicker1'>		    
		    {{form.published_date}}		    
			</div>
		</div>
        
        <!-- {{ form.as_p }} div class="input-group date" id="datetimepicker1" data-target-input="nearest">
		  {{ form.published_date }}
		  <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
		    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
		  </div>
		</div-->

        <input type="submit" class="btn btn-info" value="저장">
    </form>
<script>
  $(function () {
    $(".datetime-input").datetimepicker({ 
    	format:'YYYY-MM-DD HH:mm:ss'    	
    });
  });
</script>
{% endblock %}
